@import "~/.config/rofi/themes/glass.rasi"

mainbox {
    children: [ listview ];
}

window {
    width: 14%;
    padding: 7px;
    border-radius: 22px;
}

listview {
    lines: 5;
    cycle: true;
    spacing: 8px;
    dynamic: false;
    fixed-height: true;
}

element {
    padding: 10px 20px;
    border-radius: 999px;
    /* Remove icon child to fix left spacing since icons are in the text */
    children: [ element-text ];
}

element-text {
    horizontal-align: 0.0;
}
